
h2 {
    background-color: rgb(255, 239, 208);
    text-align: center;
    padding: 2vh;
}

table {
    width: 95%;
    margin: 4vh;
    background-color: white;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    
}

th, td {
    padding: 5vh;
    border: solid 1px;
    border-collapse: collapse;
    border-radius: 5px;
}

th {
    background-color: rgb(255, 142, 90);
}
td {
    background-color: rgb(245, 255, 156);
}

